Django==5.0.9
djangorestframework==3.15.2
psycopg2-binary==2.9.9
django-crispy-forms==2.3
crispy-bootstrap5==2024.2
django-tenants==3.6.1
python-decouple==3.8
Pillow==10.4.0
django-allauth==64.2.1
dj-database-url
psycopg2-binary
gunicorn
whitenoise